{% extends "base.html" %}
{% block body_block %}
{% load humanize %}
<table class="table is-striped is-bordered">
    <thead>
    <tr>
        <th>Patient Number</th>
        <th>Age</th>
        <th>Gender</th>
        <th>Nationality</th>
        <th>Date</th>
        <th>State</th>
        <th>City</th>
        <th>District</th>
        <th>State Code</th>
        <th>Current Status</th>
        <th>Type of Transmission</th>
        <th>source1</th>
        <th>source2</th>
        <th>source3</th>
        <th>Notes</th>
        <th>Backup Notes</th>
        <th>Status Change Date</th>
    </tr>
    </thead>
    <tbody>
    {% for cov in covid %}
    <tr>
        <td>{{ cov.patient_number }}</td>
        <td>{{ cov.age }}</td>
        <td>{{ cov.gender }}</td>
        <td>{{ cov.nationality }}</td>
        <td>{{ cov.date_announced }}</td>
        <td>{{ cov.state }}</td>
        <td>{{ cov.city }}</td>
        <td>{{ cov.district }}</td>
        <td>{{ cov.statecode }}</td>
        <td>{{ cov.current_status }}</td>
        <td>{{ cov.type_of_transmission }}</td>
        <td>{{ cov.source1 }}</td>
        <td>{{ cov.source2 }}</td>
        <td>{{ cov.source3 }}</td>
        <td>{{ cov.notes }}</td>
        <td>{{ cov.backup_notes }}</td>
        <td>{{ cov.status_change_date }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
